/* VAST PLUGIN STYLES */
body.custom-css {
    color: red;
}

.custom-css .header {
    background-color: red;
}

.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
    pointer-events:none
}
.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
    background-color:#ffe400
}
.vjs-ad-loading .vjs-loading-spinner {
    display:block;
    visibility:visible
}
.vjs-ad-playing .vjs-captions-button {
    display:none
}
.vjs-ad-playing .vjs-audio-button {
    display:none
}
/* .vjs-ad-loading .vjs-loading-spinner:before,
.vjs-ad-loading .vjs-loading-spinner:after {
    -webkit-animation:vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite;
    animation:vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, vjs-spinner-fade 1.1s linear infinite
} */
.vjs-ad-loading .vjs-loading-spinner:before {
    border-top-color:#fff
}
.vjs-ad-loading .vjs-loading-spinner:after {
    border-top-color:#fff;
    -webkit-animation-delay:0.44s;
    animation-delay:0.44s
}
.vjs-ad-loading .vjs-big-play-button,
.vjs-ad-loading .vjs-poster,
.vjs-ad-content-resuming .vjs-big-play-button,
.vjs-ad-content-resuming .vjs-poster {
    display:none
}

/*
Original @ https://github.com/theonion/videojs-vast-plugin (commit bf6ce85fa763299739f6a7c801b5be4b90b3b363)
*/

.vast-play-button {
    display: block;
    position: absolute !important;
    bottom: 30px;
    left: 8px;
    width: auto !important;
    height: auto !important;
    color: #fff;
    font-size: 20px !important;
    line-height: 12px;
    z-index: 2;
}

.vast-mute-button {
    display: block;
    position: absolute !important;
    bottom: 30px;
    left: 40px;
    width: auto !important;
    height: auto !important;
    color: #fff;
    font-size: 20px !important;
    line-height: 12px;
    z-index: 2;
}

.vast-time-remaining {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 75px;
    width: auto;
    color: #fff;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    padding: 10px;
    z-index: 2;
}

.vast-skip-button {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: auto;
    background-color: #000;
    color: #AAA;
    font-size: 12px;
    font-style: italic;
    line-height: 12px;
    padding: 10px;
    z-index: 2;
}

.vast-skip-button.enabled {
    cursor: pointer;
    color: #fff;
}

.vast-skip-button.enabled:hover {
    cursor: pointer;
    background: #333;
}

.vast-blocker {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

