/* GREYHIVE TEST STYLES */
body.greyhive {
  --primary: #bba777;
  --mainColor: #bba777;

  --mainColorLighter: #52525b;
  --mainColorLightest: #d4d4d8;
  --mainColorVeryLight: #f4f4f5;
  --mainHoverColor: #CEBC8E;
  --mainBackgroundHoverColor: #e9ecef;

  --bg: #121212;
  --mainBackgroundColor: #121212;

  --fg: #bba777;
  --mainForegroundColor: #bba777;

  --greyForegroundColor: #52525b;

  --bg-secondary: #e4e4e7;
  --greyBackgroundColor: #e4e4e7;

  --greySecondaryBackgroundColor: #EFEFEF;

  --menu-bg: #27272a;
  --menuBackgroundColor: #27272a;

  --menu-fg: #f9f9f9;
  --menuForegroundColor: #f9f9f9;

  --submenuBackgroundColor: #27272a;
  --channelBackgroundColor: #333333;

  --input-fg: #f9f9f9;
  --inputForegroundColor: #f9f9f9;

  --input-bg: #1b1b1b;
  --inputBackgroundColor: #1b1b1b;

  --input-placeholder: #797676;
  --inputPlaceholderColor: #797676;

  --input-border-color: #333;
  --inputBorderColor: #333;

  --textarea-fg: #f9f9f9;
  --textareaForegroundColor: #f9f9f9;

  --textarea-bg: #1b1b1b;
  --textareaBackgroundColor: #1b1b1b;

  --markdownTextareaBackgroundColor: #1b1b1b;
  --actionButtonColor: #585858;

  --support-btn-bg: transparent;
  --supportButtonBackgroundColor: transparent;

  --support-btn-fg: var(--actionButtonColor);
  --supportButtonColor: var(--actionButtonColor);

  --supportButtonHeartColor: #e83e8c;
  --activatedActionButtonColor: #212529;
  --horizontalMarginContent: 30px;
  --videosHorizontalMarginContent: 6vw;
  --mainColWidth: calc(100vw - 240px);
  --bs-modal-border-color: #1b1b1b;
  --bs-border-color: #333;
  --bs-alert-color: #1b1b1b !important;
  --bs-alert-link-color:  #1b1b1b !important;
}

body.greyhive {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #f9f9f9;
  font-size: 1rem;
  text-align: start;
}

a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity, 1));
}

body.greyhive .filters-toggle {
  border: 2px solid var(--mainColor);
}

body.greyhive .icon-logo {
  background-image: url(https://greyhive.com/client/assets/images/logo.svg);
}

body.greyhive .logged-in-block {
  margin-bottom: 20px;
  background-color: var(--menuBackgroundColor) !important;
}

body.greyhive .menu-link:hover {
  background-color: #222 !important;
}

body.greyhive .menu-link.active {
  background-color: #222 !important;
}

body.greyhive .peertube-title .instance-name {
  display: none;
}

body.greyhive .peertube-title .icon.icon-logo {
  width: 120px !important;
  height: 29px !important;
}

body.greyhive .video-actions .action-button:hover {
  opacity: 1;
  color: var(--mainColor);
}

body.greyhive .video-thumbnail {
  border-radius: .25rem;
}

/* General Styling Changes */
body.greyhive .peertube-button{
background-color: var(--mainColor);
}
body.greyhive .logged-in-menu{
border-top: none !important;
}
body.greyhive .checkbox-wrapper{
background-color: transparent;
}
body.greyhive .checkbox-wrapper span{
color: #18181b;
}
body.greyhive .ng-optgroup,
body.greyhive .ng-option,
body.greyhive .ng-option-selected,
body.greyhive .ng-option-selected.ng-option-marked{
background-color: white !important;
color: #18181b
}
body.greyhive .ng-value-container .ng-value{
background-color: transparent !important;
}
body.greyhive .alert.pt-alert-primary{
background-color: #bba777;
border-color: #bba777;
color: #18181b;
}
body.greyhive .alert{
background-color: #bba777;
border-color: #bba777;
}
body.greyhive .alert .alert-link{
color: #1b1b1b;
}
body.greyhive .broadcast-message svg{
color: #1b1b1b !important;
}

/* Login Page Changes */
my-login > .margin-content .alert{
display: none;
}
my-login my-instance-banner{
display: none;
}
my-login .instance-short-description{
display: none;
}
my-login .margin-content .wrapper{
flex-direction: column;
align-items: center;
}

/* Account Portal Changes */
a[href*="/my-account/import-export"],  a[href*="/my-account/applications"], a[href*="/my-account/blocklist/accounts"], a[href*="/my-account/blocklist/servers"], a[href*="/my-account/abuses"]{
    display:none
}
body.greyhive .ng-star-inserted div > li > button
my-channels-setup-message .channels-setup-message{
background-color: transparent !important;
}

/* User Setup Pages */
body.greyhive .title-page-v2{
background-color: transparent !important;
}
body.greyhive .register-content header{
background-color: transparent !important;
}
my-register-step-about div:nth-child(3){
display: none;
}
my-register-step-about .callout{
display: none !important;
}
my-register-step-about .banner{
display: none;
}
my-signup-step-title + my-instance-about-accordion .instance-short-description{
display: none !important;
}
body.greyhive .step-buttons{
justify-content: center;
}
body.greyhive .step-buttons .skip-step{
margin-inline-start: revert !important;
}

/* My Library */
body.greyhive input, body.greyhive #next-ownership-username_list{
background-color: #27272a;
border: none !important;
}

body.greyhive #next-ownership-username_list{
margin-bottom: 0;
}

body.greyhive #next-ownership-username_list li{
color: white;
}

/* VAST PLUGIN STYLES */
.vjs-ad-playing.vjs-ad-playing .vjs-progress-control {
  pointer-events:none
}
.vjs-ad-playing.vjs-ad-playing .vjs-play-progress {
  background-color:#ffe400
}
.vjs-ad-loading .vjs-loading-spinner {
  display:block;
  visibility:visible
}
.vjs-ad-playing .vjs-captions-button {
  display:none
}
.vjs-ad-playing .vjs-audio-button {
  display:none
}
.vjs-ad-loading .vjs-loading-spinner:before {
  border-top-color:#fff
}
.vjs-ad-loading .vjs-loading-spinner:after {
  border-top-color:#fff;
  -webkit-animation-delay:0.44s;
  animation-delay:0.44s
}
.vjs-ad-loading .vjs-big-play-button,
.vjs-ad-loading .vjs-poster,
.vjs-ad-content-resuming .vjs-big-play-button,
.vjs-ad-content-resuming .vjs-poster {
  display:none
}

/*
Original @ https://github.com/theonion/videojs-vast-plugin (commit bf6ce85fa763299739f6a7c801b5be4b90b3b363)
*/

.vast-skip-button {
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  width: auto;
  background-color: #000;
  color: #AAA;
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
  padding: 10px;
  z-index: 2;
}

.vast-skip-button.enabled {
  cursor: pointer;
  color: #fff;
}

.vast-skip-button.enabled:hover {
  cursor: pointer;
  background: #333;
}

.vast-remaining-time {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 75px;
  width: auto;
  color: #aaa;
  font-size: 12px;
  font-style: italic;
  line-height: 12px;
  z-index: 2;
}

.vast-remaining-time-icon {
  position: absolute;
  bottom: 30px;
  color: #aaa !important;
  font-size: 20px !important;
  z-index: 2;
}

.vast-remaining-time-icon:focus {
  text-shadow: 0 0 1em #fff;
}

.vast-remaining-time-icon-play {
  left: 15px;
}

.vast-remaining-time-icon-mute {
  left: 40px;
}

.vjs-controls-enabled .vast-remaining-time {
  bottom: 55px;
}

.vjs-controls-enabled .vast-remaining-time-icon {
  bottom: 50px;
}

.vast-blocker {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* ADMIN TABLE STYLES */
.armanet-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.armanet-table th, .armanet-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.armanet-table thead th {
  /* background-color: #f2f2f2; */
  /* color: #333; */
  font-weight: bold;
}

.armanet-table tbody tr {
  background-color: inherit;
  /* background-color: #f9f9f9; */
  /* background-color: var(--greyBackgroundColor); */
}
.armanet-table tbody tr:nth-child(even) {
  /* background-color: #f9f9f9; */
  /* background-color: var(--greySecondaryBackgroundColor); */
  /* background-color: var(--mainColorLighter); */
  /* background-color: var(--greyBackgroundColor); */
  /* background-color: var(--bg-secondary, var(--greyBackgroundColor, inherit)); */
  background-color: var(--mainColorLighter, var(--greyBackgroundColor, inherit));
}

.armanet-table tbody tr:hover {
  /* background-color: #f1f1f1; */
  /* background-color: var(--textareaForegroundColor); */
  /* background-color: var(--mainHoverColor); */
  /* background-color: var(--bg-secondary-400, var(--mainHoverColor, inherit)); */
  background-color: var(--mainHoverColor, var(--bg-secondary-400, inherit));
}

.armanet-table th, .armanet-table td {
  text-align: center;
}

.armanet-table {
  border: 1px solid #ddd;
}

.armanet-button {
  display: inline-block;
  padding: 4px 13px;
  background-color: var(--primary, var(--mainColor, hsl(24, 90%, 45%)));
  /* color: #fff; */
  /* color: var(--on-primary, var(--mainForegroundColor, #000)); */
  /* color: var(--on-primary, #000); */
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.armanet-p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.armanet-p-paginator {
  /* background-color: inherit !important; */
  background-color: var(--bg) !important;
  position: relative;
  border: none;
  border-top: 1px solid !important;
  border-color: var(--bg-secondary-400) !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev,
.p-paginator-current {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.armanet-p-paginator-current {
  color: var(--fg-300);
  overflow: visible;
}





.armanet-p-paginator .p-paginator-first .p-paginator-icon,
.armanet-p-paginator .p-paginator-prev .p-paginator-icon,
.armanet-p-paginator .p-paginator-next .p-paginator-icon,
.armanet-p-paginator .p-paginator-last .p-paginator-icon {
  width: 18px;
  height: 18px;
}

.armanet-p-paginator .p-paginator-first.p-paginator-prev,
.armanet-p-paginator .p-paginator-prev.p-paginator-prev,
.armanet-p-paginator .p-paginator-next.p-paginator-prev,
.armanet-p-paginator .p-paginator-last.p-paginator-prev {
  margin-inline-end: .625rem;
}

body .armanet-p-paginator .p-paginator-first,
body .armanet-p-paginator .p-paginator-prev,
body .armanet-p-paginator .p-paginator-next,
body .armanet-p-paginator .p-paginator-last {
  color: var(--fg-300);
  height: 2.286em;
  min-width: 2.286em;
  border: 0 none;
  line-height: 2.286em;
  padding: 0;
  margin: 0;
  vertical-align: top;
  transition: box-shadow .2s;
  border-radius: 0;
}

.armanet-p-paginator .p-paginator-first {
  margin-left: auto !important;
}

.armanet-p-paginator .p-paginator-last {
  margin-right: auto !important;
}

.armanet-p-paginator .p-paginator-first,
.armanet-p-paginator .p-paginator-prev,
.armanet-p-paginator .p-paginator-next,
.armanet-p-paginator .p-paginator-last {
  padding: 5px 2px;
  height: 100%;
  outline: none;
  color: var(--fg);
}

.armanet-p-paginator .p-paginator-first:disabled,
.armanet-p-paginator .p-paginator-prev:disabled,
.armanet-p-paginator .p-paginator-next:disabled,
.armanet-p-paginator .p-paginator-last:disabled {
  opacity: .5;
}

body .armanet-p-paginator .p-paginator-pages {
  vertical-align: top;
  display: inline-block;
  padding: 0;
}

.armanet-p-paginator .p-paginator-pages {
  height: auto!important;
}

body .armanet-p-paginator .p-paginator-pages .p-paginator-page {
  color: var(--fg-300);
  height: 2.286em;
  min-width: 2.286em;
  border: 0 none;
  line-height: 2.286em;
  padding: 0;
  margin: 0;
  vertical-align: top;
  transition: box-shadow .2s;
  border-radius: 0;
}

.armanet-p-paginator .p-paginator-pages .p-paginator-page {
  color: var(--fg)!important;
  font-weight: 600!important;
  margin: 0 5px!important;
  outline: 0!important;
  border-radius: 3px!important;
  padding: 5px 2px!important;
  height: auto!important;
  line-height: initial!important;
}

.armanet-p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
.armanet-p-paginator .p-paginator-pages .p-paginator-page.p-highlight:hover,
.armanet-p-paginator .p-paginator-pages .p-paginator-page.p-highlight:active,
.armanet-p-paginator .p-paginator-pages .p-paginator-page.p-highlight:focus {
  color: var(--fg)!important;
  background-color: var(--bg-secondary-500)!important;
}

.armanet-p-paginator .p-dropdown,
.armanet-p-paginator .p-dropdown-trigger {
  color: var(--fg);
  background-color: var(--bg);
}

.armanet-p-paginator .p-dropdown,
.armanet-p-paginator p-dropdown .p-dropdown {
  padding-inline-start: .5rem;
  align-items: center;
}

body .p-paginator .p-dropdown .p-dropdown-trigger,
body .p-paginator .p-dropdown .p-dropdown-label {
  color: var(--fg-300);
}

/* COMPANION STYLES */
.companion-video-holder iframe {
  max-width: 100% !important;
}

.companion-sidebar-holder iframe {
  max-width: 100% !important;
}

/* MULTI SELECT */
.armanet-multi-select {
  display: inline-block;
  position: relative;
  width: 340px;
  max-width: 340px;
  padding: 5px 20px;
}

.select-header {
  cursor: pointer;
  min-height: 25px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  max-height: 50vh;
  overflow: auto;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.select-options label {
  display: block;
  padding: 8px 10px;
  cursor: pointer;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
}

.select-options label:hover {
  background-color: #f1f1f1;
}

.select-options input[type="checkbox"] {
  margin-right: 10px;
}